version: "3.8"

services:
  superset:
    image: apache/superset:3.0.0
    container_name: superset
    ports:
      - "8088:8088"
    environment:
      SUPERSET_SECRET_KEY: supersecretkey
    volumes:
      - superset_home:/app/superset_home
    networks:
      - bda-network

volumes:
  superset_home:

networks:
  bda-network:
    external: true
